.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.App > h1 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  margin: 1% auto;
  width: 50%;
}
.header-text {
  flex: 30%;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(191, 233, 148, 1) 100%
  );
}
.header-text h1 {
  font-size: 1.75rem;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-align: center;
}
.users-container {
  margin: 20px auto;
  width: 75%;
}

thead{
    background-color: rgba(3, 37, 65, 1);
    color: white;
    opacity: 0.8;
    vertical-align: middle !important;
    height: 70px;
}


td {
  text-align: center;
  vertical-align: middle;
}
.posts-button {
  border: none;
  text-decoration: underline;
}
.btn-add,
.btn-back,
.btn-posts {
  margin: 20px;
  background-color: rgba(3, 37, 65, 1);
  opacity: 0.8;
  color: white;
}

.content-container {
  width: 100%;
}
.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.card {
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 20px;
  height: 350px;
}
.card-body{
  padding: 1px
}

.card-title {
  font-size: 1rem;
  font-weight: 500;
  height: 70px;
  background-color: beige;
}
.card-text {
  height: 180px;
  overflow: auto;
}
.btn-edit {
  margin-right: 20px;
}
.footer-container,
.header-container {
  background-color: rgba(3, 37, 65, 1);
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 0.75rem;
  margin: 1px;
}
.add-form,
.edit-form {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 30px 40px;
  width: 30%;
}
.text-area-form{
  height:120px !important;
}
.navigate-back {
  text-align: right;
  width: 75%;
}
